<header class="flex w-full mt-4 justify-center items-center relative">
	<h1 class="text-5xl font-bold">{{court.title}}</h1>
</header>
<main class="max-w-screen-xl mx-auto mt-12">

	<table class="w-full border-separate border-spacing-y-4 font-bold">

		{{#each court.matches}}
		<tr>
			<td><img src="{{homeTeam.image}}" class="max-w-24  ml-4"></td>
			<td>
				<h3 class="text-2xl">{{homeTeam.name}}</h3>
			</td>
			<td class="relative ">
				<div class="text-center flex items-center justify-center flex-col">
					<div class="flex flex-row gap-2 items-center justify-center">
						<div class="score">{{homeTeam.score}}</div>
						<div class="score">{{awayTeam.score}}</div>
					</div>
				</div>
				<div class="absolute -bottom-4 left-1/2 transform -translate-x-1/2 -translate-y-1/2">{{table}}</di>
			</td>
			<td>
				<h3 class="text-2xl">{{awayTeam.name}}</h3>
			</td>
			<td class="flex justify-end"><img src="{{awayTeam.image}}" class="max-w-24 mr-4">
			</td>
		</tr>
		{{/each}}
	</table>
</main>
<footer class="absolute bottom-2 right-8 text-sm" x-data="state">
	Uppdaterades senast: <span x-text="time"></span>
</footer>
<script>
	setTimeout(() => location.reload(), 120000);


	const getCurrentTime = () => {
		const now = new Date();
		const hours = String(now.getHours()).padStart(2, '0');
		const minutes = String(now.getMinutes()).padStart(2, '0');
		const seconds = String(now.getSeconds()).padStart(2, '0');
		return `${hours}:${minutes}`;
	}

	document.addEventListener('alpine:init', () => {
		Alpine.data('state', () => ({
			time: getCurrentTime(),
		}))
	})
</script>