<header class="flex w-full mt-4 justify-center items-center relative">
	<h1 class="text-3xl font-bold m-auto">Välj bana</h1>
	<div class=" absolute right-4 bottom-2">
		<a href='/login'>Logga in</a>
	</div>
</header>

<main class="max-w-screen-xl m-auto mt-24 flex justify-center gap-12">
	{{#each users}}
	<div class="rounded-md bg-slate-100 py-4 px-8">
		<h2 class="text-2xl font-bold">{{name}}</h2>
		<h4 class="text-xl">{{venue.name}}</h4>
		<ul class="list-inside list-disc mt-4">
			{{#each venue.courts}}
			<li class="text-lg">
				<a href="/court/{{courtId}}">{{title}}</a>
				<span class="text-gray-500 ml-1">#{{courtId}}</span>
			</li>
			{{/each}}
		</ul>
	</div>
	{{/each }}
</main>